extends layout

block content
	h1= title
	p Welcome to #{title}
	//table
	//	tr
	//		th IdentityUID
	//		th ItemClassUID  
	//		th InstanceID
	//		th StackQuantity
	//		th IsCarryOn
	//	each inventory in inventories
	//		tr
	//			td inventory.IdentityUID
	//			td inventory.IdentityUID
	//			td inventory.ItemClassUID
	//			td inventory.InstanceID
	//			td inventory.StackQuantity
	//			td inventory.IsCarryOn
